body {
  background: #0f0f0f;
  color: #fff;
  font-family: system-ui;
  margin: 0;
}

.container {
  padding: 25px;
}

.filters input, .filters select, button {
  margin-right: 10px;
  padding: 6px 10px;
  background: #1b1b1b;
  color: #fff;
  border: 1px solid #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border-bottom: 1px solid #333;
  padding: 10px;
}
